.pause-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: Arial, "Century Gothic", sans-serif;
    -fx-font-size: 4em;
}
.pause-button:hover {
    -fx-cursor:hand;
    -fx-text-fill: yellow;
}
.pause-button:focused {
    -fx-text-fill: yellow;
}